@media (max-width: 768px) {
    section {
        min-width: 100vw;
        width: 100%;
        height: 50%;
    }

    .main-container {
        flex-direction: row;
    }

    .right-panel {
        height: 100vh;
    }
    

    .game-container {
        background: none;
        z-index: 99;
    }
}