@media (max-width: 768px) {
    section {
        min-width: 100vw;
    }

    .main-container {
        flex-direction: row;
    }

    .right-panel {
        height: 100vh;
    }
    
    .game-container {
        background: none;
    }

    .info-container {
        display: flex;
        justify-content: center;
        gap: 0.1rem;
    }

    #show-history {
        display: inline-block;
    }

    #close-history {
        position: absolute;
        right: 45px;
        top: 45px;
    }
}