$fontFamily: 'Paytone One', sans-serif;
$h1fontSize: clamp(1.5rem, 1.167rem + 5.333vw, 2.5rem);
$bodyFontSize: clamp(0.5rem, -0.214rem + 1.905vw, 1.5rem);
$buttonFontSize: clamp(0.5rem, 0.143rem + 0.952vw, 1rem);
$buttonWidth: max-content;

$leftPanelWidth: 40%;
$rightPanelWidth: 60%;
$gameContainerWidth: fit-content;
$gameContainerHeight: fit-content;
$boardContainerWidth: clamp(1rem, -7rem + 128vw, 25rem);
$boardContainerHeight: clamp(1rem, -7rem + 128vw, 25rem);
$boxWidth: calc($boardContainerWidth / 3);
$boxHeight: calc($boardContainerHeight / 3);

$leftPanelBgColor: #edd87b;
$h1FontColor: black;
$bodyFontColor: #333;
$gameContainerBgColor: #edd87b;
$xColor: red;
$oColor: blue;
$buttonBgColor: green;
$buttonFontColor: #f3f3f3;

$xoElementWidth: 80%;
$xoElementHeight: 80%;
$animationDuration: 0.1s;

@mixin xPlayer {
    margin: 10px auto;
    background-color: red;
    color: white;
    font-size: $h1fontSize;
    padding: 1.5rem;
    min-width: 5rem;
}

@mixin oPlayer {
    margin: 10px auto;
    background-color: blue;
    color: white;
    font-size: $h1fontSize;
    padding: 1.5rem;
    min-width: 5rem;
}

@mixin xoElement {
    width: $xoElementWidth;
    height: $xoElementHeight;
    margin: 10px auto;
}

@mixin buttonElement {
    background-color: $buttonBgColor;
    width: $buttonWidth;
    padding: 0.5rem 1rem;
    color: $buttonFontColor;
    border: none;
    border-radius: 1rem;
    font-size: $buttonFontSize;
}

@mixin boxShadow {
    box-shadow: 0px 0px 17px -6px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 17px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 17px -6px rgba(0,0,0,0.75);
}
