@use '../../reset';
@import './variables';
@import './mediaquery';
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.css");

body {
    font-family: $fontFamily;
    color: $bodyFontColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    gap: 2rem;
}

button {
    @include buttonElement;
    @include boxShadow;
    cursor: pointer;
}

section {
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-panel {
    @include boxShadow;
    border: 15px solid black;
    width: $leftPanelWidth;
    background-color: $leftPanelBgColor;
    justify-content: center;
    display: flex;
}
    
.right-panel {
    width: $rightPanelWidth;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1rem;
}

.playerWon {
    background-image: url(/assets/congrats.gif);
    background-size: cover;
}

.title {
    color: $h1FontColor;
    font-size: $h1fontSize;
    padding: 2rem;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: $gameContainerWidth;
    border-radius: 1rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.loaded {
    background-color: rgb(46, 44, 44);
}

.unloaded {
    background-image: url(../assets/tic\ tac\ toe.gif);
    background-size: contain;
    background-position: center;
    height: 100%;
    width: 100%;
}

.game-board {
    width: $boardContainerWidth;
    height: $boardContainerHeight;
    flex-wrap: wrap;
    background-color: transparent;
}

.choose-player-container {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    .choose-player {
        display: flex;
        gap: 2rem;

        div {
            background-color: $gameContainerBgColor;
            padding: 1rem;
            cursor: pointer;
        }

        #player-x {
            @include xPlayer;
            @include boxShadow;
            border-radius: 1.5rem;
        }

        #player-x:hover {
            background-color: $buttonBgColor;
        }

        #player-o {
            @include oPlayer;
            @include boxShadow;
            border-radius: 1.5rem;
        }

        #player-o:hover {
            background-color: $buttonBgColor;
        }
    }

    .confirm-player{
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
}

.box {
    border: 7px solid rgb(46, 44, 44);
    width: $boxWidth;
    height: $boxHeight;
    background-color: $gameContainerBgColor;
    cursor: pointer;
    border-radius: 1rem;
}

.box:hover {
    background-color: bisque;
}

.clicked {
    pointer-events: none;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem;

    div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
    }
}

.game-history {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}

// #show-history {
//     @include boxShadow;
//     display: flex;
//     cursor: pointer;
//     color: $buttonBgColor;
// }

.icon {
    @include boxShadow;
    display: flex;
    cursor: pointer;
    color: $buttonBgColor;   
}

#close-history {
    display: none;
    cursor: pointer;
    top: 45px;
}

.closeButton {
    right: calc(rightPanelWidth + 45px);
    top: 45px;
}

// .showHistoryIcon {
//     @include boxShadow;
//     color: $buttonBgColor;
//     cursor: pointer;
// }

.circle::before{
    @include xoElement;
    content: "";
    display: block;
    border: 15px solid $oColor;
    border-radius: 50%;
    animation: drawXO $animationDuration linear;
    animation-fill-mode: forwards;
    transform-origin: center;
}

.cross {
    position: relative;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cross::before {
    content: "";
    position: absolute;
    background-color: $xColor;
    width: 15px;
    height: $xoElementHeight;
    transform: rotate(45deg);
    animation: drawXO $animationDuration linear;
}

.cross::after {
    content: "";
    position: absolute;
    background-color: $xColor;
    width: 15px;
    height: $xoElementHeight;
    transform: rotate(135deg);
    animation: drawXO $animationDuration linear;
}

@keyframes drawXO {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}