@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.css");
*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote::before, blockquote::after, q::before, q::after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

@media (max-width: 768px) {
  section {
    min-width: 100vw;
    width: 100%;
    height: 50%;
  }
  .main-container {
    flex-direction: row;
  }
  .right-panel {
    height: 100vh;
  }
  .game-container {
    background: none;
    z-index: 99;
  }
}
body {
  font-family: "Paytone One", sans-serif;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  gap: 2rem;
}

button {
  background-color: green;
  width: -moz-max-content;
  width: max-content;
  padding: 0.5rem 1rem;
  color: #f3f3f3;
  border: none;
  border-radius: 1rem;
  font-size: clamp(0.5rem, 0.143rem + 0.952vw, 1rem);
  box-shadow: 0px 0px 17px -6px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 17px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 17px -6px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

section {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-panel {
  box-shadow: 0px 0px 17px -6px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 17px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 17px -6px rgba(0, 0, 0, 0.75);
  border: 15px solid black;
  width: 40%;
  background-color: #edd87b;
  justify-content: center;
  display: flex;
}

.right-panel {
  width: 60%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem;
}

.playerWon {
  background-image: url(/assets/congrats.gif);
  background-size: cover;
}

.title {
  color: black;
  font-size: clamp(1.5rem, 1.167rem + 5.333vw, 2.5rem);
  padding: 2rem;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 1rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.loaded {
  background-color: rgb(46, 44, 44);
}

.unloaded {
  background-image: url(../assets/tic\ tac\ toe.gif);
  background-size: contain;
  background-position: center;
  height: 100%;
  width: 100%;
}

.game-board {
  width: clamp(1rem, -7rem + 128vw, 25rem);
  height: clamp(1rem, -7rem + 128vw, 25rem);
  flex-wrap: wrap;
  background-color: transparent;
}

.choose-player-container {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.choose-player-container .choose-player {
  display: flex;
  gap: 2rem;
}
.choose-player-container .choose-player div {
  background-color: #edd87b;
  padding: 1rem;
  cursor: pointer;
}
.choose-player-container .choose-player #player-x {
  margin: 10px auto;
  background-color: red;
  color: white;
  font-size: clamp(1.5rem, 1.167rem + 5.333vw, 2.5rem);
  padding: 1.5rem;
  min-width: 5rem;
  box-shadow: 0px 0px 17px -6px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 17px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 17px -6px rgba(0, 0, 0, 0.75);
  border-radius: 1.5rem;
}
.choose-player-container .choose-player #player-x:hover {
  background-color: green;
}
.choose-player-container .choose-player #player-o {
  margin: 10px auto;
  background-color: blue;
  color: white;
  font-size: clamp(1.5rem, 1.167rem + 5.333vw, 2.5rem);
  padding: 1.5rem;
  min-width: 5rem;
  box-shadow: 0px 0px 17px -6px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 17px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 17px -6px rgba(0, 0, 0, 0.75);
  border-radius: 1.5rem;
}
.choose-player-container .choose-player #player-o:hover {
  background-color: green;
}
.choose-player-container .confirm-player {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.box {
  border: 7px solid rgb(46, 44, 44);
  width: calc(clamp(1rem, -7rem + 128vw, 25rem) / 3);
  height: calc(clamp(1rem, -7rem + 128vw, 25rem) / 3);
  background-color: #edd87b;
  cursor: pointer;
}

.clicked {
  pointer-events: none;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}
.info-container div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 2rem;
}

.game-history {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

.circle::before {
  width: 80%;
  height: 80%;
  margin: 10px auto;
  content: "";
  display: block;
  border: 15px solid blue;
  border-radius: 50%;
  animation: drawXO 0.1s linear;
  animation-fill-mode: forwards;
  transform-origin: center;
}

.cross {
  position: relative;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cross::before {
  content: "";
  position: absolute;
  background-color: red;
  width: 15px;
  height: 80%;
  transform: rotate(45deg);
  animation: drawXO 0.1s linear;
}

.cross::after {
  content: "";
  position: absolute;
  background-color: red;
  width: 15px;
  height: 80%;
  transform: rotate(135deg);
  animation: drawXO 0.1s linear;
}

@keyframes drawXO {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}/*# sourceMappingURL=style.css.map */